---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---

<DefaultLayout
  title="Space tourism - destination"
  layoutClass="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 max-md:px-10"
  backgroundImg="/img/crew-background.avif"
>
  <div class="self-center lg:self-end 2xl:col-span-2">
    <p class="heading5 text-white max-md:hidden md:max-lg:ml-10 md:max-lg:mt-10"><span class="text-white/30">02</span> MEET YOUR CREW</p>

    <div class="my-5 text-center md:hidden">
      <button id="douglas-hurley" class="member-link mr-3 h-[10px] w-[10px] rounded-full bg-white lg:h-[15px] lg:w-[15px]"></button>
      <button id="mark-shuttleworth" class="member-link mr-3 h-[10px] w-[10px] rounded-full bg-white/30 lg:h-[15px] lg:w-[15px]"></button>
      <button id="victor-glover" class="member-link mr-3 h-[10px] w-[10px] rounded-full bg-white/30 lg:h-[15px] lg:w-[15px]"></button>
      <button id="anousheh-ansari" class="member-link h-[10px] w-[10px] rounded-full bg-white/30 lg:h-[15px] lg:w-[15px]"></button>
    </div>

    <div class="max-lg:mx-auto max-lg:text-center lg:mt-32">
      <div class="md:max-lg:mt-12">
        <p class="heading4 text-white/30" id="position">COMMANDER</p>
        <p class="heading3 mb-5 mt-3 text-white" id="name">DOUGLAS HURLEY</p>
        <p class="max-w-[550px] text-primary max-lg:mx-auto lg:mb-28 lg:max-w-[450px]" id="description">
          Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He launched into space for the
          third time as commander of Crew Dragon Demo-2.
        </p>
      </div>

      <div class="my-5 max-md:hidden lg:mb-24">
        <button id="douglas-hurley" class="member-link mr-3 h-[10px] w-[10px] rounded-full bg-white lg:h-[15px] lg:w-[15px]"></button>
        <button id="mark-shuttleworth" class="member-link mr-3 h-[10px] w-[10px] rounded-full bg-white/30 lg:h-[15px] lg:w-[15px]"></button>
        <button id="victor-glover" class="member-link mr-3 h-[10px] w-[10px] rounded-full bg-white/30 lg:h-[15px] lg:w-[15px]"></button>
        <button id="anousheh-ansari" class="member-link h-[10px] w-[10px] rounded-full bg-white/30 lg:h-[15px] lg:w-[15px]"></button>
      </div>
    </div>
  </div>
  <div class="self-end max-md:order-first">
    <p class="heading5 my-5 text-white max-md:text-center md:hidden"><span class="text-white/30">02</span> MEET YOUR CREW</p>
    <div class="w-[177px] max-lg:mx-auto md:w-[456px] lg:w-[568px]">
      <img id="member-img" src="/img/douglas-hurley.avif" alt="Crew image" />
    </div>
    <div class="mx-auto h-[1px] w-[80%] bg-[#383B4B] md:hidden"></div>
  </div>
</DefaultLayout>

<script>
  document.addEventListener('astro:page-load', () => {
    const members = [
      {
        id: 'douglas-hurley',
        position: 'COMMANDER',
        name: 'DOUGLAS HURLEY',
        description:
          'Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He launched into space for the third time as commander of Crew Dragon Demo-2.'
      },
      {
        id: 'mark-shuttleworth',
        position: 'MISSION SPECIALIST',
        name: 'MARK SHUTTLEWORTH',
        description:
          'Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind the Linux-based Ubuntu operating system. Shuttleworth became the first South African to travel to space as a space tourist.'
      },
      {
        id: 'victor-glover',
        position: 'PILOT',
        name: 'VICTOR GLOVER',
        description:
          'Pilot on the first operational flight of the SpaceX Crew Dragon to the International Space Station. Glover is a commander in the U.S. Navy where he pilots an F/A-18.He was a crew member of Expedition 64, and served as a station systems flight engineer.'
      },
      {
        id: 'anousheh-ansari',
        position: 'FLIGHT ENGINEER',
        name: 'ANOUSHEH ANSARI',
        description:
          'Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth self-funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space.'
      }
    ];

    const membersLinks = document.querySelectorAll('.member-link');
    const memberImage = document.getElementById('member-img');
    const position = document.getElementById('position');
    const name = document.getElementById('name');
    const description = document.getElementById('description');

    membersLinks.forEach((link) => {
      link.addEventListener('click', (event) => {
        const selectedId = (event.currentTarget as HTMLElement).id;

        membersLinks.forEach((link) => {
          link.classList.remove('bg-white');
          link.classList.add('bg-white/30');
        });

        if (link.id === selectedId) {
          link.classList.remove('bg-white/30');
          link.classList.add('bg-white');
        }

        memberImage?.setAttribute('src', `/img/${selectedId}.avif`);
        position!.textContent = members.find((e) => e.id === selectedId)!.position;
        name!.textContent = members.find((e) => e.id === selectedId)!.name;
        description!.textContent = members.find((e) => e.id === selectedId)!.description;
      });
    });
  });
</script>

<style>
  /* TODO: usar este css para rotar los planetas, pero hay que utilizar imágenes como las del ejemplo (ultra-wide) */
  /* https://stackoverflow.com/questions/61689623/rotating-planets-with-css */
</style>
