---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---

<DefaultLayout
  title="Space tourism - destination"
  layoutClass="lg:grid lg:grid-cols-2 lg:place-content-center lg:justify-items-center px-7 max-lg:my-12"
  backgroundImg="/img/destination-background.avif"
>
  <div>
    <p class="heading5 text-white max-md:text-center">01 PICK YOUR DESTINATION</p>
    <img
      transition:name="main-button"
      src="/img/moon.avif"
      class="mt-10 aspect-square w-[170px] max-lg:mx-auto md:w-[300px] lg:w-[445px]"
      alt="Moon image"
    />
  </div>
  <div class="self-center max-lg:mt-12">
    <p class="mx-auto max-w-[400px] text-primary max-lg:text-center">
      See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While
      you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.
    </p>
  </div>
</DefaultLayout>

<style>
  /* TODO: usar este css para rotar los planetas, pero hay que utilizar imágenes como las del ejemplo (ultra-wide) */
  /* https://stackoverflow.com/questions/61689623/rotating-planets-with-css */
</style>
