---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---

<DefaultLayout
  title="Space tourism"
  layoutClass="grid grid-cols-1 place-content-end px-10 lg:grid-cols-2 lg:place-content-center max-w-[1100px] 2xl:max-w-[1300px]"
  backgroundImg="/img/home-desktop-background.avif"
  backgroundImgMobile="/img/home-mobile-background.avif"
>
  <div class="max-lg:mt-24 max-lg:text-center max-md:mt-12">
    <p class="heading5 text-primary lg:mt-56">SO, YOU WANT TO TRAVEL TO</p>
    <p class="heading1 my-3 text-white md:max-lg:-my-5">SPACE</p>
    <p class="mx-auto max-w-[500px] text-primary lg:hidden">
      Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well
      sit back, and relax because we’ll give you a truly out of this world experience!
    </p>
  </div>
  <a
    id="main-btn"
    href="/destination"
    transition:name="main-button"
    class="mt-16 flex h-[150px] w-[150px] items-center justify-center justify-self-center rounded-full bg-white max-md:mb-10 md:h-[242px] md:w-[242px] md:max-lg:mb-10 md:max-lg:mt-32 lg:mt-80 lg:h-[274px] lg:w-[274px] lg:justify-self-end"
  >
    <p class="heading4">EXPLORE</p>
  </a>
</DefaultLayout>

<style>
  #main-btn:hover {
    box-shadow: 0px 0px 0px 60px rgb(151, 151, 151, 0.6);
  }
</style>
