---
import HomeLayout from '@/layouts/HomeLayout.astro';
---

<HomeLayout title="Space tourism">
  <div>
    <p class="heading5 mt-56 text-primary">SO, YOU WANT TO TRAVEL TO</p>
    <p class="heading1 text-white">SPACE</p>
  </div>
  <div class="mt-80 flex h-[274px] w-[274px] items-center justify-center justify-self-end rounded-full bg-white">
    <p class="heading4">EXPLORE</p>
  </div>
</HomeLayout>
