---
import HomeLayout from '@/layouts/HomeLayout.astro';
---

<HomeLayout title="Space tourism">
  <div>
    <p class="heading5 text-primary">SO, YOU WANT TO TRAVEL TO</p>
    <p class="heading1 text-white">SPACE</p>
    <p>
      Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well
      sit back, and relax because we’ll give you a truly out of this world experience!
    </p>
  </div>
  <div class="flex h-[274px] w-[274px] items-center justify-center justify-self-end rounded-full bg-white">
    <p class="heading4">EXPLORE</p>
  </div>
</HomeLayout>
