---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---

<DefaultLayout
  title="Space tourism - destination"
  layoutClass="grid grid-cols-1 lg:grid-cols-2"
  backgroundImg="/img/technology-background.avif"
>
  <div class="lg:ml-36 lg:self-center 2xl:ml-44">
    <p class="heading5 text-white max-lg:hidden md:max-lg:ml-10 md:max-lg:mt-10"><span class="text-white/30">03</span> SPACE LAUCH 101</p>

    <div class="max-lg:mx-auto max-lg:text-center lg:mt-32">
      <p class="heading5 text-primary" id="position">THE TERMINOLOGY…</p>
      <p class="heading3 mb-5 mt-3 text-white" id="name">LAUNCH VEHICLE</p>
      <p class="max-w-[550px] text-primary max-lg:mx-auto max-md:px-10 lg:mb-28 lg:max-w-[450px]" id="description">
        A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to
        Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an
        awe-inspiring sight on the launch pad!
      </p>
    </div>
  </div>
  <div class="max-lg:order-first max-lg:w-full lg:self-center lg:justify-self-end">
    <p class="heading5 my-5 text-white max-md:text-center md:mb-12 md:ml-10 md:mt-10 lg:hidden">
      <span class="text-white/30">03</span> SPACE LAUCH 101
    </p>
    <div id="div-img" class="max-md:h-[170px] md:max-lg:h-[310px] lg:w-full">
      <img id="member-img" src="/img/launch-vehicle.avif" alt="Space Vehicle" class="max-lg:hidden" />
    </div>
    <div class="mx-auto h-[1px] w-[80%] bg-[#383B4B] md:hidden"></div>
  </div>
</DefaultLayout>

<script>
  document.addEventListener('astro:page-load', () => {
    const members = [
      {
        id: 'douglas-hurley',
        position: 'COMMANDER',
        name: 'DOUGLAS HURLEY',
        description:
          'Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He launched into space for the third time as commander of Crew Dragon Demo-2.'
      },
      {
        id: 'mark-shuttleworth',
        position: 'MISSION SPECIALIST',
        name: 'MARK SHUTTLEWORTH',
        description:
          'Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind the Linux-based Ubuntu operating system. Shuttleworth became the first South African to travel to space as a space tourist.'
      },
      {
        id: 'victor-glover',
        position: 'PILOT',
        name: 'VICTOR GLOVER',
        description:
          'Pilot on the first operational flight of the SpaceX Crew Dragon to the International Space Station. Glover is a commander in the U.S. Navy where he pilots an F/A-18.He was a crew member of Expedition 64, and served as a station systems flight engineer.'
      },
      {
        id: 'anousheh-ansari',
        position: 'FLIGHT ENGINEER',
        name: 'ANOUSHEH ANSARI',
        description:
          'Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth self-funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space.'
      }
    ];

    const membersLinks = document.querySelectorAll('.member-link');
    const memberImage = document.getElementById('member-img');
    const position = document.getElementById('position');
    const name = document.getElementById('name');
    const description = document.getElementById('description');

    membersLinks.forEach((link) => {
      link.addEventListener('click', (event) => {
        const selectedId = (event.currentTarget as HTMLElement).id;

        membersLinks.forEach((link) => {
          link.classList.remove('bg-white');
          link.classList.add('bg-white/20');
        });

        if (link.id === selectedId) {
          link.classList.remove('bg-white/20');
          link.classList.add('bg-white');
        }

        memberImage?.setAttribute('src', `/img/${selectedId}.avif`);
        position!.textContent = members.find((e) => e.id === selectedId)!.position;
        name!.textContent = members.find((e) => e.id === selectedId)!.name;
        description!.textContent = members.find((e) => e.id === selectedId)!.description;
      });
    });
  });
</script>

<style>
  /* TODO: usar este css para rotar los planetas, pero hay que utilizar imágenes como las del ejemplo (ultra-wide) */
  /* https://stackoverflow.com/questions/61689623/rotating-planets-with-css */

  .member-link:hover {
    background-color: rgb(255, 255, 255, 0.5);
  }

  @media (width < 1024px) {
    #div-img {
      background: url('/img/launch-vehicle.avif') center center;
      background-color: #0b0d17;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
</style>
