---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---

<DefaultLayout
  title="Space tourism - destination"
  layoutClass="grid grid-cols-1 lg:grid-cols-2"
  backgroundImg="/img/technology-background.avif"
>
  <div class="lg:ml-36 lg:self-center 2xl:ml-44">
    <p class="heading5 text-white max-lg:hidden md:max-lg:ml-10 md:max-lg:mt-10"><span class="text-white/30">03</span> SPACE LAUCH 101</p>

    <div class="max-lg:mx-auto max-lg:text-center lg:mt-32 lg:grid lg:grid-cols-4">
      <div class="col-span-1 items-center justify-center max-lg:my-10 max-md:my-5 lg:grid lg:grid-rows-3 lg:justify-start">
        <button
          id="rocket1"
          class="link-btn heading4 h-[50px] w-[50px] rounded-full border-2 bg-white p-3 max-lg:mr-4 md:h-[60px] md:w-[60px] lg:h-[80px] lg:w-[80px]"
        >
          1
        </button>
        <button
          id="rocket2"
          class="link-btn heading4 h-[50px] w-[50px] rounded-full border-2 border-white/30 p-3 text-white max-lg:mr-4 md:h-[60px] md:w-[60px] lg:h-[80px] lg:w-[80px]"
        >
          2
        </button>
        <button
          id="rocket3"
          class="link-btn heading4 h-[50px] w-[50px] rounded-full border-2 border-white/30 p-3 text-white md:h-[60px] md:w-[60px] lg:h-[80px] lg:w-[80px]"
        >
          3
        </button>
      </div>

      <div class="col-span-3">
        <p class="heading5 text-primary" id="position">THE TERMINOLOGY…</p>
        <p class="heading3 mb-5 mt-3 text-white" id="name">LAUNCH VEHICLE</p>
        <p class="max-w-[550px] text-primary max-lg:mx-auto max-md:px-10 lg:max-w-[450px]" id="description">
          A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to
          Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an
          awe-inspiring sight on the launch pad!
        </p>
      </div>
    </div>
  </div>
  <div class="max-lg:order-first max-lg:w-full lg:self-center lg:justify-self-end">
    <p class="heading5 my-5 text-white max-md:text-center md:mb-12 md:ml-10 md:mt-10 lg:hidden">
      <span class="text-white/30">03</span> SPACE LAUCH 101
    </p>
    <img id="rocket-img-desktop" src="/img/rocket1.avif" alt="Space Vehicle" class="max-lg:hidden" />
    <img
      id="rocket-img-mobile"
      src="/img/rocket1.avif"
      alt="Space Vehicle"
      class="w-[100vw] max-md:h-[170px] md:max-lg:h-[310px] lg:hidden"
    />
    <div class="mx-auto h-[1px] w-[80%] bg-[#383B4B] md:hidden"></div>
  </div>
</DefaultLayout>

<script>
  document.addEventListener('astro:page-load', () => {
    const rockets = [
      {
        id: 'rocket1',
        name: 'LAUNCH VEHICLE',
        description:
          "A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!"
      },
      {
        id: 'rocket2',
        name: 'SPACEPORT',
        description:
          'A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to the seaport for ships or airport for aircraft. Based in the famous Cape Canaveral, our spaceport is ideally situated to take advantage of the Earth’s rotation for launch.'
      },
      {
        id: 'rocket3',
        name: 'SPACE CAPSULE',
        description:
          "A space capsule is an often-crewed spacecraft that uses a blunt-body reentry capsule to reenter the Earth's atmosphere without wings. Our capsule is where you'll spend your time during the flight. It includes a space gym, cinema, and plenty of other activities to keep you entertained."
      }
    ];

    const rocketsLinks = document.querySelectorAll('.link-btn');
    const rocketImageMobile = document.getElementById('rocket-img-mobile');
    const rocketImageDesktop = document.getElementById('rocket-img-desktop');
    const name = document.getElementById('name');
    const description = document.getElementById('description');

    rocketsLinks.forEach((link) => {
      link.addEventListener('click', (event) => {
        const selectedId = (event.currentTarget as HTMLElement).id;

        rocketsLinks.forEach((link) => {
          link.classList.remove('bg-white', 'border-white/30', 'text-white', 'text-secondary');

          if (link.id === selectedId) link.classList.add('bg-white', 'text-secondary');
          else link.classList.add('border-white/30', 'text-white');
        });

        rocketImageMobile?.setAttribute('src', `/img/${selectedId}.avif`);
        rocketImageDesktop?.setAttribute('src', `/img/${selectedId}.avif`);
        name!.textContent = rockets.find((e) => e.id === selectedId)!.name;
        description!.textContent = rockets.find((e) => e.id === selectedId)!.description;
      });
    });
  });
</script>

<style>
  .link-btn:hover {
    border-color: white;
  }

  @media (width < 1024px) {
    #rocket-img-mobile {
      object-fit: cover;
    }
  }
</style>
