---
import MainLogo from '@/icons/main.astro';
import MobileMenuLogo from '@/icons/mobile-menu.astro';

const currentPath = new URL(Astro.request.url).pathname;
---

<header>
  <nav class="mt-5 grid w-full grid-cols-12 md:mt-10 md:max-lg:mt-0 lg:absolute">
    <div class="col-span-6 flex items-center max-md:ml-5 max-lg:ml-10 md:col-span-5 lg:col-span-1 lg:justify-center">
      <MainLogo />
    </div>

    <div class="hidden items-center lg:col-span-5 lg:flex">
      <div class="z-10 ml-10 h-[1px] w-full bg-[#979797]"></div>
    </div>

    <div class="col-span-7 -ml-10 hidden items-center justify-around bg-white/10 px-8 backdrop-blur-lg md:flex lg:col-span-6 lg:px-24">
      <a href="/" class={`${currentPath === '/' ? 'active' : ''} nav-text nav-link py-7 text-white`}>
        <span class="font-bold max-lg:hidden">00</span> HOME
      </a>
      <a href="/destination" class={`${currentPath === '/destination' ? 'active' : ''} nav-text nav-link py-7 text-white`}>
        <span class="font-bold max-lg:hidden">01</span> DESTINATION
      </a>
      <a href="/crew" class="nav-text nav-link py-7 text-white"><span class="font-bold max-lg:hidden">02</span> CREW</a>
      <a href="/" class="nav-text nav-link py-7 text-white"><span class="font-bold max-lg:hidden">03</span> TECHNOLOGY</a>
    </div>

    <div class="col-span-6 mr-10 flex items-center justify-self-end md:hidden">
      <div class="w-8">
        <MobileMenuLogo />
      </div>
    </div>
  </nav>
</header>

<style is:global>
  .div-links {
    background-color: rgb(255, 255, 255, 0.4);
  }

  .nav-link:hover {
    border-bottom: 3px solid rgb(151, 151, 151, 0.6);
  }

  .active {
    border-bottom: 3px solid white;
  }
</style>
