---
import '@fontsource/bellefair';
import '@fontsource/barlow';
import '@fontsource/barlow-condensed';
import Nabvar from '@/sections/Navbar.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  layoutClass?: string;
  backgroundImg: string;
  backgroundImgMobile?: string;
}

const { title, layoutClass, backgroundImg, backgroundImgMobile } = Astro.props;
const varBackgroundImg = `url(${backgroundImg})`;
const varBackgroundImgMobile = `url(${backgroundImgMobile ?? backgroundImg})`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="view-transition" content="same-origin" />
    <ViewTransitions />
  </head>
  <body>
    <Nabvar />
    <main class={layoutClass}>
      <slot />
    </main>
    <style is:global define:vars={{ varBackgroundImg, varBackgroundImgMobile }}>
      html {
        font-family: 'barlow', system-ui, sans-serif;
        background: #13151a;
        background-size: cover;
        background-image: var(--varBackgroundImgMobile);
        background-position: center;
      }

      main {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
      }

      /* Font sizes */
      .heading1 {
        font-size: 80px;
        font-family: 'bellefair', system-ui, sans-serif;
      }

      .heading2 {
        font-size: 56px;
        font-family: 'bellefair', system-ui, sans-serif;
      }

      .heading3 {
        font-size: 24px;
        font-family: 'bellefair', system-ui, sans-serif;
      }

      .heading4 {
        font-size: 16px;
        font-family: 'bellefair', system-ui, sans-serif;
      }

      .heading5 {
        font-size: 16px;
        font-family: 'Barlow Condensed', system-ui, sans-serif;
        letter-spacing: 2.7px;
      }

      .sub-heading1 {
        font-size: 28px;
        font-family: 'bellefair', system-ui, sans-serif;
      }

      .sub-heading2 {
        font-size: 14px;
        font-family: 'Barlow Condensed', system-ui, sans-serif;
        letter-spacing: 2.35px;
      }

      .nav-text {
        font-size: 14px;
        font-family: 'Barlow Condensed', system-ui, sans-serif;
        letter-spacing: 2.7px;
      }

      @media (width >= 768px) {
        html {
          font-size: 18px;
        }

        .heading1 {
          font-size: 150px;
        }

        .heading2 {
          font-size: 80px;
        }

        .heading3 {
          font-size: 40px;
        }

        .heading4 {
          font-size: 24px;
        }

        .heading5 {
          font-size: 20px;
          letter-spacing: 4.75px;
        }
      }

      @media (width >= 1024px) {
        html {
          background-image: var(--varBackgroundImg);
        }

        main {
          height: 100vh;
        }

        .heading2 {
          font-size: 100px;
        }

        .heading3 {
          font-size: 56px;
        }

        .heading4 {
          font-size: 32px;
        }

        .heading5 {
          font-size: 28px;
        }

        .nav-text {
          font-size: 16px;
        }
      }
    </style>
  </body>
</html>
